#quick-explorer {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  z-index: var(--layer-cover);
  background-color: var(--background-modifier-cover); }
  #quick-explorer .explorable {
    font-size: 12px;
    opacity: 0.75;
    cursor: pointer;
    padding: 0; }
    #quick-explorer .explorable.selected, #quick-explorer .explorable:hover {
      background-color: var(--interactive-accent-hover);
      color: var(--text-on-accent);
      opacity: 1; }

.menu-item {
  display: flex; }
  .menu-item.selected:not(:hover) {
    background-color: var(--background-secondary-alt); }
  .menu-item .menu-item-title {
    flex-grow: 1; }
  .menu-item .nav-file-tag {
    margin-top: 5px;
    margin-left: 1.5em;
    opacity: 0.4;
    background-color: transparent; }
  .menu-item:hover, .menu-item.selected {
    color: var(--text-normal); }
    .menu-item:hover .nav-file-tag, .menu-item.selected .nav-file-tag {
      opacity: 1; }
